@model FikrGroupCms.Models.ViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<!-- // HEADER -->
<!-- ****************** SLIDER REVOLUTION ******************* -->
<div class="slider-content">
    <div id="rev_slider_13_1_wrapper" class="rev_slider_wrapper fullscreen-container" style="background-color:transparent;padding:0px;">
        <div id="rev_slider_13_1" class="rev_slider fullscreenbanner" style="display:none;"
             data-version="5.1.3">
            <ul>
                <!-- SLIDE  -->
               
                    @{int i = 0; }
                    @foreach (var item in Model.IndexTB.Where(m => m.SectionId == 1).ToList())
                    {
                            <li data-index="@("rs-4"+i)"
                                data-transition="fade"
                                data-slotamount="default"
                                data-easein="default"
                                data-easeout="default"
                                data-masterspeed="default"
                                data-thumb="@item.Image"
                                data-rotate="0"
                                data-saveperformance="off"
                                data-title="Slide"
                                data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="/images/slider/dummy.png" alt="" width="1920" height="900"
                                     data-lazyload="@item.Image"
                                     data-bgposition="center center"
                                     data-bgfit="cover"
                                     data-bgrepeat="no-repeat"
                                     data-bgparallax="off" class="rev-slidebg"
                                     data-no-retina>
                                <!-- LAYERS -->
                                <!-- LAYER NR. 1 -->
                                @*<a class="tp-caption Polygon-button-02 rev-btn " href="../features/page-builder-28-saved/index.html" target="_self" id="slide-42-layer-4"
                                       data-x="['center','center','center','center']"
                                       data-hoffset="['-105','-120','-99','0']"
                                       data-y="['middle','middle','middle','middle']"
                                       data-voffset="['179','187','190','135']"
                                       data-width="none"
                                       data-height="none"
                                       data-whitespace="nowrap"
                                       data-transform_idle="o:1;"
                                       data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                       data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(12, 92, 211, 1.00);bc:rgba(12, 92, 211, 1.00);"
                                       data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
                                       data-transform_out="opacity:0;s:300;s:300;"
                                       data-start="500"
                                       data-splitin="none"
                                       data-splitout="none"
                                       data-actions=''
                                       data-responsive_offset="off"
                                       data-responsive="off" style="z-index: 5; white-space: nowrap; font-size: 12px; line-height: 12px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                                        MORE FEATURES
                                    </a>*@
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption Fashion-BigDisplay  " id="slide-42-layer-12"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']"
                                     data-voffset="['-30','-105','-170','0']"
                                     data-fontsize="['90','90','70','50']"
                                     data-lineheight="['90','90','70','55']"
                                     data-width="['none','none','none','268']"
                                     data-height="['none','none','none','124']"
                                     data-whitespace="['nowrap','nowrap','nowrap','normal']"
                                     data-transform_idle="o:1;"
                                     data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
                                     data-transform_out="opacity:0;s:300;s:300;"
                                     data-start="500"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="off"
                                     data-responsive="off" style="z-index: 6; white-space: nowrap; font-size: 90px; line-height: 90px; font-weight: 100; color: rgba(255, 255, 255, 1.00);font-family:Lato;text-align:center;letter-spacing:0.06em;">
                                    <b>@item.EnTitle</b>
                                </div>
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption Fashion-BigDisplay  " id="slide-42-layer-13"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['0','0','7','-536']"
                                     data-y="['middle','middle','middle','middle']"
                                     data-voffset="['70','51','4','-42']"
                                     data-fontsize="['22','22','20','22']"
                                     data-width="['700','700','505','376']"
                                     data-height="['76','76','111','none']"
                                     data-whitespace="normal"
                                     data-visibility="['on','on','on','off']"
                                     data-transform_idle="o:1;"
                                     data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
                                     data-transform_out="opacity:0;s:300;s:300;"
                                     data-start="500"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="off"
                                     data-responsive="off" style="z-index: 7; min-width: 700px; max-width: 700px; max-width: 76px; max-width: 76px; white-space: normal; font-size: 22px; line-height: 30px; font-weight: 100; color: rgba(255, 255, 255, 1.00);font-family:Lato;text-align:center;letter-spacing:0.06em;">
                                    @Html.Raw(item.EnDescription)
                                </div>
                                <!-- LAYER NR. 4 -->
                                @*<a class="tp-caption Polygon-button-01 rev-btn " href="#" target="_self" id="slide-42-layer-14"
                                       data-x="['center','center','center','center']"
                                       data-hoffset="['102','120','116','0']"
                                       data-y="['middle','middle','middle','middle']"
                                       data-voffset="['179','188','191','200']"
                                       data-fontweight="['700','700','900','900']"
                                       data-width="none"
                                       data-height="none"
                                       data-whitespace="nowrap"
                                       data-transform_idle="o:1;"
                                       data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                       data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(22, 116, 209, 1.00);bc:rgba(22, 116, 209, 1.00);"
                                       data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
                                       data-transform_out="opacity:0;s:300;s:300;"
                                       data-start="500"
                                       data-splitin="none"
                                       data-splitout="none"
                                       data-actions=''
                                       data-responsive_offset="off"
                                       data-responsive="off" style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                                        PURCHASE THEME
                                    </a>*@
                            </li>
                        i++;
                    }
                

            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
</div>
<!--data-->
<!-- ****************** PROCESS ******************* -->
<div class="padd_big">
    <div class="container">
        <div class="content-head text-center style2">
            <h2>About</h2>
            <h1>@Model.AboutTB.FirstOrDefault(x => x.SectionId == 1).EnTitle</h1>
            <p>
                @Html.Raw(Model.AboutTB.FirstOrDefault(x => x.SectionId == 1).EnDescription)
            </p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="pic_abou">
                    <img src="@Model.AboutTB.FirstOrDefault(x=> x.SectionId == 1).Image" class="img-responsive" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="list_about_00">
                    <ul>
                        @foreach (var item in Model.AboutTB.Where(x => x.SectionId == 2))
                        {
                            <li>
                                <span class="icon_about">
                                    <i class="fa @item.Icon"></i>
                                </span>
                                <div class="text_about_p">
                                    <h3>@item.EnTitle</h3>
                                    <p>@Html.Raw(item.EnDescription)</p>
                                </div>
                            </li>
                        }
                        @*<li>
                                <span class="icon_about">
                                    <i class="pe-7s-rocket"></i>
                                </span>
                                <div class="text_about_p">
                                    <h3>Logo Design</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                                </div>
                            </li>
                            <li>
                                <span class="icon_about">
                                    <i class="pe-7s-monitor"></i>
                                </span>
                                <div class="text_about_p">
                                    <h3>Web Design</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                                </div>
                            </li>
                            <li>
                                <span class="icon_about">
                                    <i class="pe-7s-target"></i>
                                </span>
                                <div class="text_about_p">
                                    <h3>E-Marketing</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                                </div>
                            </li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****************** FEATURES ******************* -->
<div id="content" class="site-content">
    <div class="container-fluid no-padding">
        <div class="header-custom-bg">
            <div class="container">
                <div class="content-head text-center style2">
                    <h2 class="text-white">Works</h2>
                    <h1>Our Works</h1>
                    @*<p>
                            Work is our favorite four letter word. It's also what defines us as
                            <br> a user-centered design company.
                        </p>*@
                </div>
            </div>
        </div><br /><br />
        <div id="portfolio-fullwidth">
            <div class="col-md-12">
                <div class="folio-main-content">
                    <ul class="folio-main-filter list-inline" data-option-key="filter">
                        <li><a class="active" href="#filter" data-option-value="*">All</a></li>
                        @foreach (var item in Model.TypeTB)
                        {
                            <li><a href="#" data-option-value=".@item.Id" class="">@item.Type</a></li>
                        }
                        @*<li><a href="#" data-option-value=".animation" class="">Mobile  Application</a></li>
                            <li><a href="#" data-option-value=".branding" class="">Branding</a></li>
                            <li><a href="#" data-option-value=".webdesign" class="">Web Design</a></li>*@
                    </ul>
                    <div class="folio-main-grid folio-main-4col" style="position: relative; height: 1745.31px;">
                        <!-- PORTFOLIO ITEM -->
                        @foreach (var item in Model.ProductsTB.Take(8).ToList())
                        {
                            <div class="filter-animation folio-main-item @item.TypeId" style="position: absolute; left: 436px; top: 436px;">
                                <a href="@item.Image" class="prettyPhoto">
                                    <div class="folio-wrapper">
                                        <img src="@item.Image" class="img-responsive " alt="" style="height:300px !important">
                                        <div class="folio-overlay">
                                            <div class="folio-overlay-inner icons_aa">
                                                @if (item.Link != null && item.Link != "")
                                                {
                                                    <a href="@item.Link" title="">
                                                        <img src="/images/grid-world.png" alt="">
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="@item.Link" title="" style="display:none">
                                                        <img src="/images/grid-world.png" alt="">
                                                    </a>
                                                }
                                                @if (item.AndroidLink != null && item.AndroidLink != "")
                                                {
                                                    <a href="@item.AndroidLink" title="">
                                                        <img src="/images/android.png" alt="">
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="@item.AndroidLink" title="" style="display:none">
                                                        <img src="/images/android.png" alt="">
                                                    </a>
                                                }
                                                @if (item.IosLink != null && item.IosLink != "")
                                                {
                                                    <a href="@item.IosLink" title="">
                                                        <img src="/images/apple.png" alt="">
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="@item.IosLink" title="" style="display:none">
                                                        <img src="/images/apple.png" alt="">
                                                    </a>
                                                }
                                            </div>
                                            <span class="btn_m_d" >
                                                <a href="@item.Image" class="  prettyPhoto" ><b> @item.EnTitle </b></a>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a href="/Home/Works" class="bttn center-block lmore">Load More</a>
    </div>
</div>
<!-- ****************** STATS COUNTER ******************* -->
<div class="counter-white">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.ServicesTB)
            {
                <div class="col-md-3 col-sm-3">
                    <div class="counter-item text-uppercase text-center">
                        <h3 class="counter">@item.Icon</h3>
                        <h5>@item.EnTitle</h5>
                    </div>
                </div>
            }
            @*<div class="col-md-3 col-sm-3">
                    <div class="counter-item text-uppercase text-center">
                        <h3 class="counter">289</h3>
                        <h5>Coffee Cups</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="counter-item text-uppercase text-center">
                        <h3 class="counter">12</h3>
                        <h5>Awards</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="counter-item text-uppercase text-center">
                        <h3 class="counter">520</h3>
                        <h5>Customers</h5>
                    </div>
                </div>*@
        </div>
    </div>
</div>
<!-- ****************** TESTIMONIALS ******************* -->
<div class="client-testimonials">
    <div class="container">
        <div class="content-head style2 text-center space-bottom-35">
            <h2>CLIENTS</h2>
            <h1>Our clients</h1>
            <!-- <p>We have clients all around the world who've become our long - term partners. It's not tough to get good -->
            <!-- <br>feedbacks from them -->
            <!-- <br> -->
            <!-- </p> -->
        </div>
    </div>
    <div class="container text-center">
        <div class="testimonials-carousel-nav">
            @foreach (var item in Model.IndexTB.Where(x => x.SectionId == 3).ToList())
            {
                <div>
                    <img class="img-responsive center-block" src="@item.Image" alt="">
                </div>
            }
            @*<div>
                    <img class="img-responsive center-block" src="/images/quotes/1/2.png" alt="">
                </div>
                <div>
                    <img class="img-responsive center-block" src="/images/quotes/1/3.png" alt="">
                </div>
                <div>
                    <img class="img-responsive center-block" src="/images/quotes/1/4.png" alt="">
                </div>
                <div>
                    <img class="img-responsive center-block" src="/images/quotes/1/5.png" alt="">
                </div>
                <div>
                    <img class="img-responsive center-block" src="/images/quotes/1/3.png" alt="">
                </div>*@
        </div>
        <!-- <div class="text-center img-sep"><img src="/images/line.jpg" class="center-block" alt="line" height="60" width="1"></div> -->
        <!-- <div class="testimonials-carousel"> -->
        <!-- <div> -->
        <!-- <div class="testimonial-text"> -->
        <!-- <p>Really great theme, many design features and options. Theme support is 100%. Great customer support and assistance. I highly recommend it.</p> -->
        <!-- <img src="/images/other/author2.png" class="center-block" alt="" height="60" width="60"> -->
        <!-- <cite>MR. MARK<span>CEO</span></cite> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- <div> -->
        <!-- <div class="testimonial-text"> -->
        <!-- <p>Really great theme, many design features and options. Theme support is 100%. Great customer support and assistance. I highly recommend it.</p> -->
        <!-- <img src="/images/other/author2.png" class="center-block" alt="" height="60" width="60"> -->
        <!-- <cite>MR. MARK<span>CEO</span></cite> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- <div> -->
        <!-- <div class="testimonial-text"> -->
        <!-- <p>Really great theme, many design features and options. Theme support is 100%. Great customer support and assistance. I highly recommend it.</p> -->
        <!-- <img src="/images/other/author2.png" class="center-block" alt="" height="60" width="60"> -->
        <!-- <cite>MR. MARK<span>CEO</span></cite> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- <div> -->
        <!-- <div class="testimonial-text"> -->
        <!-- <p>Really great theme, many design features and options. Theme support is 100%. Great customer support and assistance. I highly recommend it.</p> -->
        <!-- <img src="/images/other/author2.png" class="center-block" alt="" height="60" width="60"> -->
        <!-- <cite>MR. MARK<span>CEO</span></cite> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- <div> -->
        <!-- <div class="testimonial-text"> -->
        <!-- <p>Really great theme, many design features and options. Theme support is 100%. Great customer support and assistance. I highly recommend it.</p> -->
        <!-- <img src="/images/other/author2.png" class="center-block" alt="" height="60" width="60"> -->
        <!-- <cite>MR. MARK<span>CEO</span></cite> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- <div> -->
        <!-- <div class="testimonial-text"> -->
        <!-- <p>Really great theme, many design features and options. Theme support is 100%. Great customer support and assistance. I highly recommend it.</p> -->
        <!-- <img src="/images/other/author2.png" class="center-block" alt="" height="60" width="60"> -->
        <!-- <cite>MR. MARK<span>CEO</span></cite> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->

    </div>
</div>
<!-- ****************** blog ******************* -->
<div class="home-blog bg-gray2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 content-head style2 text-center">
                <h2>BLOG</h2>
                <h1>Latest News</h1>
                @*<p>Dedicated to blog &amp; feed your readers with awesome ideas, they will stay with you. Let's blog &amp; don't stop to be creative</p>*@
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="postcontent-type03">
                    @{
                        string xdat = "col-md-push-6";
                        string xdat2 = "col-md-pull-6";
                        foreach (var item in Model.NewsTB.OrderByDescending(x => x.Id).Take(2))
                        {
                            <article class="post type-post blog-entry">
                                <div class="recent-posts__item row">
                                    <div class="recent-posts__thumb col-md-6 @xdat">
                                        <a href="/Home/NewsDetails?id=@item.Id">
                                            <img src="@item.Image" class="img-responsive" alt="" style="height:300px;width:500px;">
                                        </a>
                                    </div>
                                    <div class="recent-posts-desc col-md-6 @xdat2">
                                        @if (item.Date != null)
                                        {
                                            <div class="dates">
                                                <span class="date">@item.Date.Value.ToString("dd")</span>
                                                <span class="month">@item.Date.Value.ToString("MMM")</span>
                                                <span class="year">@item.Date.Value.ToString("yyyy")</span>
                                            </div>
                                        }
                                        <div class="post-meta">
                                            @*<span class="post-com">
                                                    <i class="fa fa-folder-open"></i> <a href="./blog.html">Anything</a>, <a href="./blog.html">Business</a>
                                                </span>*@
                                            <span class="author">
                                                <i class="fa fa-user"></i> admin
                                            </span>
                                        </div>
                                        <h4><a href="/Home/NewsDetails?id=@item.Id">@item.EnTitle</a></h4>
                                        <div class="blog-entry-excerpt">
                                            <p>@Html.Raw(item.EnDescription)</p>
                                        </div>
                                        <a class="bttn" href="/Home/NewsDetails?id=@item.Id">Read more</a>
                                    </div>
                                </div>
                            </article>
                            xdat = xdat == "" ? "col-md-push-6" : "";
                            xdat2 = xdat2 == "" ? "col-md-pull-6" : "";
                        }
                    }
                    @*<article class="post type-post blog-entry">
                            <div class="recent-posts__item row">
                                <div class="recent-posts__thumb col-md-6 col-md-push-6">
                                    <a href="./blog-single-standard.html">
                                        <img src="/images/blog/2.jpg" class="img-responsive" alt="">
                                    </a>
                                </div>
                                <div class="recent-posts-desc col-md-6 col-md-pull-6">
                                    <div class="dates">
                                        <span class="date">09</span>
                                        <span class="month">Sep</span>
                                        <span class="year">2015</span>
                                    </div>
                                    <div class="post-meta">
                                        <span class="post-com">
                                            <i class="fa fa-folder-open"></i> <a href="./blog.html">Anything</a>, <a href="./blog.html">Business</a>
                                        </span>
                                        <span class="author">
                                            <i class="fa fa-user"></i> admin
                                        </span>
                                    </div>
                                    <h4><a href="./blog-single-standard.html">How To Choose The Best Theme For My Business?</a></h4>
                                    <div class="blog-entry-excerpt">
                                        <p>Building a beautiful website for your business begins with choosing a theme - a design that controls page layout, widget areas, and default style. Selecting Polygon is your best choice for this.</p>
                                    </div>
                                    <a class="bttn" href="details_blog.html">Read more</a>
                                </div>
                            </div>
                        </article>*@
                </div>
            </div>
        </div>
    </div>
</div>

